{% extends "base.html" %}
{% block title %} Sign up{% endblock %}
{% block content %}<h1>This is the Sign up page</h1>
<form method="POST">
    <fieldset style="color:green;background-color: blue;">
    <legend><h3>Sign Up</h3></legend>

    <div>
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" placeholder="Enter email"> <!--Use name for emaikl-->
    </div>

    <div>
        <label for="password1">Password</label>
        <input type="password1" id="password1" name="password1" placeholder="Enter password"> <!--Use name for emaikl-->
    </div>
    
    <div>
        <label for="password2">Password (Confirm)</label>
        <input type="password2" id="password2" name="password2" placeholder="Enter password"> <!--Use name for emaikl-->
    </div>


    <br />
    <button type="submit" style="color:blue;border-color: black;">SUBMIT</button>
    </fieldset>
</form>{% endblock %}
